<div class="container">
  <div id="<%= dom_id post %>">
    <p>
      <h1><%= @category.name %></h1>
    </p>
    <p><strong>Title:</strong> <%= post.title %></p>
    <p>
      <strong>Content:</strong>
      <%= post.content %>
    </p>
    <p>
      <h4>Comments</h4>
      <ul>
        <% if @comments.present? %>
         <% @post.comments.each do |comment| %>
         <p><strong><%= comment.user.username %>:</strong><%= comment.content %></p>
         <%= link_to "Delete comment", category_post_comments_path(@category, @post, comment), method: :delete, data: { confirm: "Are you sure?" } %>
       <% end %>
        <% else %>
          <p>No comments yet</p>
        <% end %>
      </ul>
    </p>

    <h4><%= pluralize(post.views, "view") %></h4>


    <h4>Post by: <%= post.user.username.capitalize %></h4>
    <h4><%= post.likes.count %> Likes</h4>
</div>
