<div class="container">
 <div id="<%= dom_id post %>">
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= post.content %>
  </p>
    <h4><%= pluralize(post.views, "view")%></h4>
     <h4>Post_by: <%= (post.user.username.capitalize)%></h4>

 </div>
</div>
