<div class="container">
  <div id="<%= dom_id post %>">
    <p>
      <h4><%= category.name %></h4>
    </p>

    <% if post.comments.present? %>
      <h5>Comments</h5>
      <% post.comments.each do |comment| %>
        <p><strong><%= comment.user.username if comment.user %>:</strong><%= comment.content || "No comments" %></p>

        <% if current_user == comment.user && comment.id.present? %>
          <%= link_to "Delete comment", category_post_comment_path(category, post, comment), method: :delete, data: { confirm: "Are you sure?" } %>
        <% end %>
      <% end %>
    <% else %>
      <p>No comments yet</p>
    <% end %>
  </div>
</div>

  </div>

    <h4><%= pluralize(post.views, "view") %></h4>


    <h4>Post by: <%= link_to post.user.username.capitalize, user_path(post.user) %></h4>
    <h4><%= post.likes.count %> Likes</h4>
</div>
