
<div class="container" id="post-<%= post.id %>">
    <p>
      <h4><%= post.category.name %></h4>
    </p>
    <p>
      <h4><%= post.title %></h4>
    </p>
    <p>
      <%= post.content %>
    <h4><%= pluralize(post.views, "view") %></h4>
    <h4>Post by: <%= link_to post.user.username.capitalize, user_path(post.user) %></h4>
    <h4><%= post.likes.count %> Likes</h4>
 </div>
